@import "tailwindcss";


/* your custom styles below */
.showBox {
  background-size: cover;
  width: 100%;
  height: 650px;
}

.containter{
  display: inline-block;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.prductImage{
  height: 150px;
  width: fit-content;
}
